body{
    background-color: #F7F7F7;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color:#25293a;
}

header{
    background-color: #eaeff7;
    border-bottom: 3pt solid #25293a;
    display: flex;
    justify-content: space-between;
}

.imgHeader{
    width: 200px;
    height: 120px;
}

.poke-container {
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
	margin: 0 auto;
	max-width: 1200px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px;
}

nav a{
    font-size: 30px;
    color: #25293a;
    display: flex;
    margin-right: 20px;
    font-weight: bold;
}

.containerone{
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.wrapper1{
    display: flex;
    align-items: flex-start;
}

.wrapper1 img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: auto;
}

.title{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color:#25293a;
}

.wrapper2{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wrapper2 button{
    font-family: 'Poppins', sans-serif;
    color: #F7F7F7;
    font-weight: bold;
    background-color: #25293a;
    border-radius: 5pt;
}

.card-block{
    display: inline-block !important;
    margin:20px;
}

.wrapper2 h1{
  text-align: center;
}

.wrapper2 p{
    text-align: center;
}

.containertwo{
    display: flex;
    flex-direction: column;
    margin-top: 142px;
}

.containertwo h2{
    text-align: center;
}

.element3{
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.element3 button{
     
    font-family: 'Poppins', sans-serif;
    color: #F7F7F7;
    font-weight: bold;
    background-color: #25293a;
    max-width:max-content;
    border-radius: 5pt;
}

.searchBtn{
    font-family: 'Poppins', sans-serif;
    color: #F7F7F7;
    font-weight: bold;
    background-color: #25293a;
    max-width:max-content;
    border-radius: 5pt;
}

.card{
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    margin:20px;
}

.up{
    display:flex;
    align-items: right;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.container{
  margin: 1rem;
  padding: 1rem;
  /* IMPORTANTE */
  text-align: center;
}

